{% extends 'pedidos/base.html' %}

{% block content %}
<h1>Lista de Productos</h1>
<a href="{% url 'pedidos:crear_producto' %}">Agregar Producto</a>
<ul>
    {% for producto in productos %}
        <li>
            <a href="{% url 'pedidos:detalle_producto' producto.id %}">{{ producto.nombre }}</a>
            - <a href="{% url 'pedidos:editar_producto' producto.id %}">Editar</a>
            - <a href="{% url 'pedidos:eliminar_producto' producto.id %}">Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
